<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hiplyst | Shared music playlists, ranked by the community</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    {% block css %}
    {% endblock %}

    <style>
      body {
        padding-top: 100px; /* 60px to make the container go all the way to the bottom of the topbar */
        font-family: Gill Sans, sans-serif !important;
      }
    </style>
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.6.2.min.js"></script>

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/img/logo_small.png">
    <link rel="shortcut icon" href="/static/img/logo_small.png">
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/" style="color:#cccccc;text-decoration:none;">hip<font face="cursive" style="color:#f90;">lyst</font></a>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
              <form method="post" action="/login/" style="margin-top:15px;margin-bottom:0;">
                <input id="id_username" type="text" name="username" maxlength="254" style="margin-right:3px;background:black;color:#cccccc;padding-left:13px;margin-top:4px;margin-bottom:10px;height:32px;width:150px;" placeholder="Username" required>
                <input id="id_password" type="password" name="password" maxlength="4096" style="margin-right:3px;background:black;color:#cccccc;padding-left:13px;margin-top:4px;margin-bottom:10px;height:32px;width:150px;"" placeholder="Password" required>
                <button class="btn btn-large btn-primary" name="submit" type="submit" style="margin-top:-6px;background:#ff8800;border:none;border-radius:4px;">Sign in</button>
                <input type="hidden" name="next" value="{{ next }}" />
              </form>
            </ul>	
            <ul class="nav">
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    {% block content %}
    <!-- Here is the html content for the specific page, except for the footer and toolbar. -->
    {% endblock %}

    {% block body %}
    {% endblock %}

    {% block additional_block %}
    {% endblock %}

    <div class="footer" style="background:black;height:60px;width:100%;display:inline-block;z-index:100;border-top:1px solid #252525;">
    <p style="color:#cccccc;padding-top:20px;padding-left:56px;"><small>Hiplyst &copy; 2014 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font style="color:#777777;">About &nbsp;|&nbsp; Team &nbsp;|&nbsp; Contact us &nbsp;|&nbsp; How we rank &nbsp;|&nbsp; FAQ &nbsp;|&nbsp; Licensing &nbsp;|&nbsp; Copyright</font></small></p>
    </div>

    </div>
    <br>

    {% block extra-js %}
    {% endblock %}

    <!-- Le javascript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap-transition.js"></script>
    <script src="/js/bootstrap-alert.js"></script>
    <script src="/js/bootstrap-modal.js"></script>
    <script src="/js/bootstrap-dropdown.js"></script>
    <script src="/js/bootstrap-scrollspy.js"></script>
    <script src="/js/bootstrap-tab.js"></script>
    <script src="/js/bootstrap-tooltip.js"></script>
    <script src="/js/bootstrap-popover.js"></script>
    <script src="/js/bootstrap-button.js"></script>
    <script src="/js/bootstrap-collapse.js"></script>
    <script src="/js/bootstrap-carousel.js"></script>
    <script src="/js/bootstrap-typeahead.js"></script>

  </body>
</html>
