{% extends "base.html" %}

{% block css %}
  <link type="text/css" href="/css/landing.css" rel="stylesheet">
{% endblock %}

{% block body %}

  {% if form.errors %}

  <!-- Carousel large ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-top:-20px;margin-bottom:-4px;">
      <div class="carousel-inner">
        <div class="item active">
          <img src="/images/guitar.jpg">
          <div class="transparent_box"></div>
          <div class="not_transparent">
            <center>
            <div class="alert">That username is already taken.</div>
            <div class="preview">
              <h3>Sign up</h2>
              <form method="POST" action="/register/" enctype="multipart/form-data"> 
                <div>
                  <input type="text" style="background:black;color:#cccccc;padding-left:13px;margin-top:8px;height:35px;width:150px;" name="fname" maxlength="20" placeholder="First name" required>
                  <input type="text" style="background:black;color:#cccccc;padding-left:13px;margin-top:8px;height:35px;width:150px;" name="lname" maxlength="20" placeholder="Last name" required>
                </div>
                <input type="text" style="background:black;color:#cccccc;padding-left:13px;height:35px;width:323px;" name="username" maxlength="20" placeholder="Username" required>
                <input name="email" type="email" style="background:black;color:#cccccc;padding-left:13px;height:35px;width:323px;" placeholder="Email" required>
                <input type="password" style="background:black;color:#cccccc;padding-left:13px;height:35px;width:323px;margin-bottom:10px;" name="password" maxlength="40" placeholder="Password" required>
                <p><button class="btn btn-large btn-primary" style="width:344px;background:#ff8800;border:none;border-radius:4px;" name="submit" type="submit">Register</button></p>
              </form>
            </div>
            <div class="front">
              <div class="preview1"><img src="/images/list_big.png"></div>
              <div class="preview2"><img src="/images/headphones.png"></div>
            </div>
            </center>
          </div>
        </div>
      </div>
    </div><!-- /.carousel -->

  {% else %}

  <!-- Carousel large ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-top:-20px;margin-bottom:-4px;">
      <div class="carousel-inner">
        <div class="item active">
          <img src="/images/guitar.jpg">
          <div class="transparent_box"></div>
          <div class="not_transparent">
            <center>
            <div class="preview">
              <h3>Sign up</h2>
              <form method="POST" action="/register/" enctype="multipart/form-data"> 
                <div>
                  <input type="text" style="background:black;color:#cccccc;padding-left:13px;margin-top:8px;height:35px;width:150px;" name="fname" maxlength="20" placeholder="First name" required>
                  <input type="text" style="background:black;color:#cccccc;padding-left:13px;margin-top:8px;height:35px;width:150px;" name="lname" maxlength="20" placeholder="Last name" required>
                </div>
                <input type="text" style="background:black;color:#cccccc;padding-left:13px;height:35px;width:323px;" name="username" maxlength="20" placeholder="Username" required>
                <input name="email" type="email" style="background:black;color:#cccccc;padding-left:13px;height:35px;width:323px;" placeholder="Email" required>
                <input type="password" style="background:black;color:#cccccc;padding-left:13px;height:35px;width:323px;margin-bottom:10px;" name="password" maxlength="40" placeholder="Password" required>
                <p><button class="btn btn-large btn-primary" style="width:344px;background:#ff8800;border:none;border-radius:4px;" name="submit" type="submit">Register</button></p>
              </form>
            </div>
            <div class="front">
              <div class="preview1"><img src="/images/list_big.png"></div>
              <div class="preview2"><img src="/images/headphones.png"></div>
            </div>
            </center>
          </div>
        </div>
      </div>
    </div><!-- /.carousel -->

    {% endif %}

{% endblock %}

{% block additional_block %}
{% endblock %}

{% block extra-js %}
{% endblock %}
