{% extends 'base.html' %}
{% block title %} Metal Maile's Concert Review Page {% endblock %}
{% block content %}

<div class="container">
<center>
  <div class="hero-unit" style="height:370px;">
    <p style="text-align:left;margin-left:30px;"><b>Welcome.</b> Please login.</p>
    {% if form.errors %}
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Login failed.</strong> Incorrect username or password was entered.
    </div>
    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
      {% csrf_token %}
      <label for="id_username"></label>
      <input id="id_username" type="text" style="margin-bottom:5px;height:32px;width:300px;" name="username" maxlength="254" placeholder="Username" required>
      <label for="id_password"></label>
      <input id="id_password" type="password" style="margin-bottom:10px;height:32px;width:300px;" name="password" maxlength="4096" placeholder="Password" required>
      <p><button class="btn btn-large btn-primary" style="width:312px;" name="submit" type="submit">Sign in</button></p>
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
    {% else %}
    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
      {% csrf_token %}
      <label for="id_username"></label>
      <input id="id_username" type="text" style="margin-bottom:5px;height:32px;width:300px;" name="username" maxlength="254" placeholder="Username" required>
      <label for="id_password"></label>
      <input id="id_password" type="password" style="margin-bottom:10px;height:32px;width:300px;" name="password" maxlength="4096" placeholder="Password" required>
      <p><button class="btn btn-large btn-primary" style="width:312px;margin-bottom:5px;" name="submit" type="submit">Sign in</button></p>
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <p><div class="round-button">Or</div></p>
    <p><a href="{% url 'register' %}"></p><button class="btn btn-large btn-primary" style="width:312px;margin-top:5px;">Register</button></a></p>
    {% endif %}
  </div>
</center>
</div>

{% endblock %}
