    <div class="container">
      <div class="row">
        <div class="span9" style="width:897px">
          <div class="sidebar_view" style="height:232px;width:897px;margin-bottom:20px;background:black;border:solid 1px #252525;overflow:hidden;">
            <div id="scrollable" style="width:912px;height:232px;overflow-y:scroll;overflow-x:hidden;">
              <p style="font-size:14px;color:#777777;margin:0px;padding-left:26px;padding-top:12px;padding-bottom:12px;">PLAYLISTS</p>
              <div id="playlists_myprofile_sidebar"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
